
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");


html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
    -moz-text-decoration: underline dotted;
    text-decoration: underline dotted;
    /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
    font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
    display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
    /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
    display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
    display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1.8;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

*::-moz-selection {
    color: #fff;
    background: #000;
}

*::selection {
    color: #fff;
    background: #000;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

a,
button,
label,
input {
    -webkit-tap-highlight-color: transparent;
}

img,
svg,
canvas,
audio,
video,
iframe {
    vertical-align: middle;
}

figure {
    margin: 0;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

.ht-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    -webkit-transition: opacity 0.3s, color 0.4s;
    -o-transition: opacity 0.3s, color 0.4s;
    -moz-transition: opacity 0.3s, color 0.4s;
    transition: opacity 0.3s, color 0.4s;
}

.ht-cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    background: currentColor;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
    -o-transition: opacity 0.1s, -o-transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, opacity 0.1s, -moz-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.1s;
    transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}

.ht-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: scale(0) rotate(10deg);
    -moz-transform: scale(0) rotate(10deg);
    -ms-transform: scale(0) rotate(10deg);
    -o-transform: scale(0) rotate(10deg);
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
    transition: opacity 0.4s, -webkit-transform 0.3s;
    -o-transition: opacity 0.4s, -o-transform 0.3s;
    -moz-transition: opacity 0.4s, transform 0.3s, -moz-transform 0.3s;
    transition: opacity 0.4s, transform 0.3s;
    transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
}

@supports (mix-blend-mode: exclusion) {

    .ht-cursor.-exclusion,
    .ht-cursor.-opaque {
        mix-blend-mode: exclusion;
    }
}

@supports (mix-blend-mode: exclusion) {

    .ht-cursor.-exclusion:before,
    .ht-cursor.-opaque:before {
        background: white;
    }
}

.ht-cursor.-normal,
.ht-cursor.-text {
    mix-blend-mode: normal;
}

.ht-cursor.-normal:before,
.ht-cursor.-text:before {
    background: currentColor;
}

.ht-cursor.-inverse {
    color: white;
}

.ht-cursor.-visible:before {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
}

.ht-cursor.-visible.-active:before {
    -webkit-transform: scale(0.23);
    -moz-transform: scale(0.23);
    -ms-transform: scale(0.23);
    -o-transform: scale(0.23);
    transform: scale(0.23);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.ht-cursor.-pointer:before {
    -webkit-transform: scale(0.15);
    -moz-transform: scale(0.15);
    -ms-transform: scale(0.15);
    -o-transform: scale(0.15);
    transform: scale(0.15);
}

.ht-cursor.-text:before {
    opacity: 0.85;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
}

.ht-cursor.-text .ht-cursor-text {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.ht-cursor.-text.-active:before {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.ht-cursor.-opaque:before {
    -webkit-transform: scale(1.32);
    -moz-transform: scale(1.32);
    -ms-transform: scale(1.32);
    -o-transform: scale(1.32);
    transform: scale(1.32);
}

.ht-cursor.-opaque.-active:before {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.ht-cursor.-sm:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.ht-cursor.-md:before {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.ht-cursor.-lg:before {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.ht-cursor.-hidden:before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.-color-red {
    color: #D20A0A;
}

.-color-green {
    color: #83B002;
}

.-color-accent-lilac {
    color: #8d53e9;
}

.-color-accent-blue {
    color: #60A5FA;
}

.-color-accent-dark-blue {
    color: #4617FF;
}

.-color-accent-pink {
    color: #FCA5A5;
}

.-color-white {
    color: #FFF;
}

.-color-accent-lilac-bg {
    background: #8d53e9;
}


.ht-demo {
    background: #fff;
}

.ht-demo-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
}

.ht-demo-container {
    padding: 0 20px;
}

@media (min-width: 1600px) {
    .ht-demo-container {
        padding: 0 120px;
    }
}

.ht-demo-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}

@media (min-width: 1600px) {
    .ht-demo-row {
        margin: 60px 0;
    }
}

.ht-demo-item {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 50px 30px;
    margin: 0 20px;
    color: #000;
    background: #ecedee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@media (min-width: 1600px) {
    .ht-demo-item {
        padding: 90px 30px;
        margin: 0 30px;
    }
}

.ht-demo-item-title {
    position: relative;
    margin: 0 0 25px 0;
    font-size: 30px;
    font-weight: bold;
}

.ht-demo-item-text {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}

/* Cursor CSS */
/* Cursor */
.ht-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    transition: opacity 0.3s, color 0.4s;
}

.ht-cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0);
    background: currentColor;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.1s;
}

.ht-cursor-text {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(10deg);
    opacity: 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01em;
    transition: opacity 0.4s, transform 0.3s;
}

@supports (mix-blend-mode: exclusion) {

    .ht-cursor.-exclusion,
    .ht-cursor.-opaque {
        mix-blend-mode: exclusion;
    }
}

@supports (mix-blend-mode: exclusion) {

    .ht-cursor.-exclusion:before,
    .ht-cursor.-opaque:before {
        background: white;
    }
}

.ht-cursor.-normal,
.ht-cursor.-text {
    mix-blend-mode: normal;
}

.ht-cursor.-normal:before,
.ht-cursor.-text:before {
    background: currentColor;
}

.ht-cursor.-inverse {
    color: white;
}

.ht-cursor.-visible:before {
    transform: scale(0.2);
}

.ht-cursor.-visible.-active:before {
    transform: scale(0.23);
    transition-duration: 0.2s;
}

.ht-cursor.-pointer:before {
    transform: scale(0.15);
}

.ht-cursor.-text:before {
    opacity: 0.85;
    transform: scale(1.7);
}

.ht-cursor.-text .ht-cursor-text {
    opacity: 1;
    transform: scale(1);
}

.ht-cursor.-text.-active:before {
    transform: scale(1.6);
    transition-duration: 0.2s;
}

.ht-cursor.-opaque:before {
    transform: scale(1.32);
}

.ht-cursor.-opaque.-active:before {
    transform: scale(1.2);
}

.ht-cursor.-sm:before {
    transform: scale(1);
}

.ht-cursor.-md:before {
    transform: scale(1.5);
}

.ht-cursor.-lg:before {
    transform: scale(2);
}

.ht-cursor.-hidden:before {
    transform: scale(0);
}